{% extends 'base.html.twig' %}

{% block title %}Félicitation{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 mb-3 font-weight-normal">Félicitation!</h1>
                <p>Vous pouvez vous connectez en cliquand <a href="{{ path('app_login') }}">Ici</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
