{% extends 'base.html.twig' %}
{% block title %}Créez une tâche{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <h1 class="text-center">Ajoutez une tâche</h1>
        <div class="row">
            <div class="col-12">
                {% include 'task/taskForm.html.twig' %}
                <button type="submit" class="btn btn-success">Ajoutez</button>
                <a href="{{ path('task_list') }}" class="btn btn-info">Annulez</a>
                {{ form_end(taskForm) }}
            </div>
        </div>
    </div>
{% endblock %}
