{% extends 'base.html.twig' %}

{% block title %}Demande envoyé{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-12">
                <h1>Demande enregistrée</h1>
                <p>Merci vérifier vos email. <strong class="bg-danger">Attention, votre demande est valable 1h.</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
