{% extends 'base.html.twig' %}

{% block title %}demande expirée{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-12">
                <h1>Votre demande a expiré</h1>
                <p><a href="{{ path('password_reset') }}">Faire une autre demande</a></p>
            </div>
        </div>
    </div>
{% endblock %}
